.info{
    padding-bottom: 50px;
}

.loja h1{
    color:black;
    text-align: left;
}

.loja{
    font-size: 30px;
    padding-inline: 20px;
}

.botaoCadastro{
    /* width: 240px;
    padding: 10px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #0b6684;
    border-radius: 5px;
    display: flex;
    justify-content: center; */

    margin-block: 20px;
    background-color: #0b6684;
    border-radius: 5px;
    color: white;
    border: none;
    height: 50px;
    width: 240px;
    font-size: 20px;
}

.botaoCadastro:hover{
    background-color: #063241;
    cursor: pointer;
}

.campo_produtos{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.btn_editar{
    color:rgb(14, 73, 73);
}
