main{
    background-color: rgb(255, 255, 255);
    margin-top: 20px;

    /* 100vh - footer - margin top - header */
    min-height: calc(100vh - 60px - 20px - 60px);

    padding-inline: 5vw;
}


a{
    height: fit-content;
    width: fit-content;
}

button{
    background-color: #0b6684;
    border-radius: 5px;
    color: white;
    border: none;
    height: fit-content;
    width: fit-content;
    padding: 12px;
    font-size: 20px;
}

button:hover{
    background-color: #063241;
    cursor: pointer;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px - 20px - 60px - 20px);
}