.novidades_produto{
    width: 250px;
    padding: 20px 20px 20px 20px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.campo_img{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
}

.novidade_produto_img{
    max-width: 200px;
    max-height: 200px;
}

.novidade_produto_descricao{
    margin-top: 10px;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    color: black;
}

.preco{
    margin-top: 10px;
    font-size: 25px;
    color: #296275;
    font-weight: 700;
}

.modo_pagamento{
    padding-left: 10px;
    color: black;
    opacity: 50%;
}

.novidade_produto_botao{
    margin-top: 20px;
    padding: 12px;
}

.botao_container{
    display: flex;
    justify-content: center;
}