.campo_info{
    margin-top: 20px;
}
.campo_btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block: 30px;
}

.btn{
    background-color: #0b6684;
    border-radius: 5px;
    color: white;
    border: none;
    height: 50px;
    width: 150px;
    font-size: 20px;
}

.btn:hover{
    background-color: #063241;
    cursor: pointer;
}

#btn_deletar{
    background-color: #840b0b;
}

#btn_deletar:hover{
    background-color: #410606;
}

